.Notifications {
  border: 2px solid rgb(9, 195, 37);
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-ser;
  font-style:italic;
  color:rgb(9, 195, 37);
}



.Notifications ul li[data-priority="default"] {
  color: rgb(80, 4, 231);
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}
