body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.hello {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.corner-image {
  position: absolute;
  right: 42px;
  height: auto;
  margin-top: 15px;
  height:75px;
}
