.Notifications {
  border: 2px solid rgb(9, 195, 37);
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-ser;
  font-style:italic;
  color:rgb(9, 195, 37);
}


/* task_2/dashboard/src/Notifications.css */

.Notifications ul li[data-priority="default"] {
  color: blue;
}

.Notifications ul li[data-priority="urgent"] {
  color: red;
}
