.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 15vmin;
  position: absolute;
  top: 0;
  left: 0%;
}


.App-header {
  background-color: #fef9e6;
  min-height:45vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom: 2px solid #000;
  color: rgb(21, 0, 69);
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-ser
}

.App-body{
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-ser;
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center;
  padding-top: 20px; /* Espacio en la parte superior */
  margin: 200px 0; /* Añade un margen arriba y abajo */
}

.App-footer{
  border-top: 2px solid #000;
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-ser;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}
